body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
:root {
    /* Colors */
    --primary-color: #3498db;  /* Example primary color */
    --secondary-color: #2ecc71;  /* Example secondary color */
    --border-color: rgb(132, 135, 135);  /* Border color */
    --text-color: #333;  /* Text color */
    --background-color: #f4f4f4;  /* Background color */
  }
  
  /* Define Sizes in :root */
  :root {
    /* Sizes */
    --container-width: 100%;
    --container-height: 100%;
    --padding: 80px;
    --border-radius: 12px;
    --input-font-size: 18px;
    --input-gap: 10px;
    --input-margin-bottom: 20px;
    --button-padding: 12px 20px;
  }